/*aimations*/

/* tags */
body {
  background-color: #34314f;
  margin: 0;
}

h1 {
  color: white;
  font-family: 'Exo', sans-serif;
  text-align: center;
  font-size: 5vw;
  line-height: 2em;
  margin: auto;
  height: 2em;
}

h2 {
  color: white;
  font-family: 'Exo', sans-serif;
  text-align: center;
  font-size: 3vw;
  line-height: 1.5em;

  height: 1.5em;
}

h3 {
  font-family: 'Exo', sans-serif;
  font-size: 2vw
}

/* classes */
.titlebar {
  width: 100%;
  height: auto;
  background-color: #34314f;
  box-shadow: 0vw 0.25vh 20px #221122;
}

.bodycontainer {

}

.videocontainer {
  height: auto;
  max-height: 100000in;
}

.videocontainertitle{
  width: 100%;
  background-color: #34314f;
  box-shadow: 0px 5px 10px -5px #221122;
}

.videobox {
  display: flex;
  position: relative;

  height: 10vh;
  min-height: 100px;
  width: 75vw;
  max-width: 825px;
  min-width: 548px;
  margin: 0;

  background-color: #5D5A72;
  margin: 5px auto 0 auto;

  border: thin solid transparent;
  border-radius: 10px;
}

.videobox > .thumbnail {
  min-width: 89px;
  width: 25%;
  max-width: 170px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.videobox > .videoinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 75%;
  height: 100%;

  color: white;
}

.videoinfo > * {
  margin: 0;
}

.videoinfo > .ratingbar {
  display: flex;
  min-height: 10px;
  height: 10%;
  width: 100%;

  background-image: linear-gradient(to right, #9494FF 20%, #FF8b60 20%, #FF8b60 100%);
}

.ratingbar > .downPercent {
  background-color: #9494FF;

  display: flex;
  height: 100%;
  width: 20%;
}

.ratingbar > .upPercent {
  background-color: #FF8b60;

  display: flex;
  height: 100%;
  width: 80%;
}

.thumbnail > img {
  object-fit: cover;
  min-height: 75px;
  max-height: 7.5vh;
  min-width: 133px;
  width: 13vh;
}
/* ids */
#videoboxtemplate {
  display: none;
}

/* media queries */
@media only screen and (max-width: 480px) {
  .titlebar > h1 {
    font-size: 60px;
  }

  .videocontainertitle > h2 {
    font-size: 40px;
  }

  .videoinfo > h3 {
    font-size: 25px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 670px) {
  .titlebar > h1 {
    font-size: 40px;
  }

  .videocontainertitle > h2 {
    font-size: 24px;
  }

  .videoinfo > h3 {
    font-size: 15px;
    margin-left: 5px;
  }
}

@media only screen and (min-width: 900px) {
  .titlebar > h1 {
    font-size: 45px;
  }

  .videocontainertitle > h2 {
    font-size: 27px;
  }

  .videoinfo > h3 {
    font-size: 18px;
  }
}
/* fonts */
@import url('https://fonts.googleapis.com/css?family=Exo:900|Lato');
